<section *ngIf="recipe"
  class="recipe-details">
  <ng-container *ngIf="recipe.stepSections[0].steps.length > 0; then detailsTemplate; else emptyState">
  </ng-container>

  <ng-template #detailsTemplate>
    <!-- Action Buttons -->
    <div class="button-row">
      <button mat-button
        (click)="router.navigate(['/recipes'])">
        <mat-icon>arrow_back</mat-icon> Back to Recipes
      </button>
      <button mat-button
        (click)="saveRecipe()"
        class="save-button">
        <mat-icon>bookmark</mat-icon> Save
      </button>
      <button mat-button
        (click)="printRecipe()"
        class="print-button">
        <mat-icon>print</mat-icon> Print
      </button>
    </div>

    <!-- Metadata -->
    <div class="meta-container">
      <div class="meta-text">
        <h1 class="title">{{ recipe.name }}</h1>
        <!-- Categories & Flavors -->
        <div class="meta-chips">
          <span *ngFor="let category of recipe.categories" class="category" (click)="navigateToCategory(category)">
            {{ category | sentenceCase }}
          </span>
          <span *ngFor="let flavor of recipe.flavors" class="flavor" (click)="navigateToFlavor(flavor)">
            {{ flavor | sentenceCase }}
          </span>
        </div>
        <!-- Cook Times -->
        <div class="cook-times">
          <span>
            <mat-icon>chef_hat</mat-icon>
            <label>Prep Time:</label>
            <span>{{ recipe.prepTime }}</span>
          </span>
          <span>
            <mat-icon>skillet</mat-icon>
            <label>Cook Time:</label> {{ recipe.cookTime }}
          </span>
          <span *ngIf="recipe.chillTime">
            <mat-icon>mode_cool</mat-icon>
            <label>Chill Time:</label>
            <span>{{ recipe.chillTime }}</span>
          </span>
          <span>
            <mat-icon>timer</mat-icon>
            <label>Total Time:</label>
            <span>{{ recipe.totalTime }}</span>
          </span>
          <span *ngIf="recipe.yield">
            <mat-icon>hand_meal</mat-icon>
            <label>Yield:</label>
            <span>{{ recipe.yield }}</span>
          </span>
        </div>
      </div>
      <!-- Image -->
      <img *ngIf="recipe.imageUrl" [src]="recipe.imageUrl" class="hero-image" alt="{{ recipe.name }}" />
    </div>

    <!-- Description-->
    <div class="description">
      <span>{{ recipe.description }}</span>
      <span *ngIf="recipe.credit"
        class="credit">-- {{ recipe.credit }}
      </span>
    </div>

    <hr class="section-divider">

    <!-- Ingredients -->
    <div class="ingredients">
      <h2>Ingredients</h2>
      <div *ngFor="let section of recipe.ingredientSections" class="step-section">
        <h3 *ngIf="section.label">{{ section.label }}</h3>
        <ul>
          <li *ngFor="let item of section.items">
            <mat-checkbox [(ngModel)]="item.checked">
              <span [class.strikethrough]="item.checked">{{ item.name }}</span>
            </mat-checkbox>
          </li>
        </ul>
      </div>
    </div>

    <hr class="section-divider">

    <!-- Equipment -->
    <div class="equipment">
      <h2>Equipment</h2>
      <ul>
        <li *ngFor="let item of recipe.equipment">
          <mat-checkbox [(ngModel)]="item.checked">
            <span [class.strikethrough]="item.checked">{{ item.name | sentenceCase }}</span>
          </mat-checkbox>
        </li>
      </ul>
    </div>

    <hr class="section-divider">

    <!-- Instructions -->
    <div class="steps">
      <h2>Instructions</h2>
      <div *ngFor="let section of recipe.stepSections" class="step-section">
        <h3 *ngIf="section.label">{{ section.label }}</h3>
        <ol class="custom-list">
          <li *ngFor="let step of section.steps; let i = index">
            <div class="step-number">{{ i + 1 }}</div>
            <div class="step-text">{{ step.text }}</div>
          </li>
        </ol>
      </div>
    </div>
  </ng-template>

  <ng-template #emptyState>
    <div class="empty-state">
      <img src="assets/images/recipe-placeholder.svg"
        alt="Recipe Not Ready"
        class="empty-state-image" />
      <h2>Recipe Not Ready</h2>
      <span>This recipe is still in the works. Check back soon!</span>
      <a (click)="router.navigate(['/recipes'])">
        Back to Recipes
      </a>
    </div>
  </ng-template>
</section>
