<div class="about-container">
  <h1>Meet Nick Reinoso</h1>

  <div class="p1">
    <div id="profile-img"></div>
    <p>
      Hi! I’m Nick Reinoso, the baker behind The Caffeinated Baker.
      Born and raised in Texas, I grew up surrounded by delicious food and family traditions.
      My love for cooking started early,
      watching FoodTV as a kid and experimenting with dessert recipes.
      My mom, Priscilla, was my first cooking teacher,
      sharing her family recipes and teaching me the basics.
      With her guidance and plenty of practice,
      I became hooked on creating sweet treats—probably because of my serious sweet tooth!
    </p>
  </div>

  <p>
    Throughout high school and college, I continued to explore the world of baking and cooking,
    eventually turning it into a side gig.
    From selling cakes to friends and family to making a wedding cake for my best friend,
    baking has become more than just a hobby for me. My fondness for kitchen gadgets and techniques
    has only grown over the years, and I’m always looking for new ways to improve my skills.
  </p>

  <div class="about-items">
    <div class="about-item">
      <div class="about-item__img-family"></div>
    </div>
    <div class="about-item">
      <div class="about-item__img-cake"></div>
    </div>
    <div class="about-item">
      <div class="about-item__img-friends"></div>
    </div>

  </div>

  <p>
    The Caffeinated Baker is my way of sharing the recipes and techniques that have
    brought joy and delicious moments to my loved ones.
    Whether it’s a batch of brownies or a hearty meal,
    I hope my blog will inspire you to create your own flavorful memories.
  </p>
  <p>
    Thanks for stopping by and happy baking!
  </p>
</div>
