.ez-header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white; // TODO: get from theme


  .nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    &.small {
      .hamburger-btn {
        margin-right: 16px;
        padding: 12px 8px;
      }
    }
  }

  .nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    h1 {
      margin: 0;
      font-family: "Roboto", cursive;
      text-wrap: nowrap;
    }

    span {
      font-size: 14px;
      padding-left: 16px;
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-right: 24px;

    a {
      border-radius: 16px;
    }

    span.mdc-button__label {
      font-weight: bold;
      padding: 0 8px;
      color: #2c2c2c
    }
  }

  .active_route {
    background-color: #f8d6c7;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
