<div class="nav-container"
  [class.scrolled]="isScrolled">
  <div class="nav-wrapper"
    [ngClass]="{ 'small' : (isMobileView$ | async) }">
    <!-- Desktop View -->
    <ng-container *ngIf="!(isMobileView$ | async); else small">
      <!-- Logo -->
      <div class="nav-logo"
        [routerLink]="'/home'">
        <img id="tcb-logo" [src]="'/assets/images/tcb-logo.svg'" />
        <img id="tcb-logo-text" [src]="'/assets/images/tcb-logo-text.svg'" />
      </div>
      <!-- Navigation Menu -->
      <div class="nav-menu">
        <a mat-button
          *ngFor="let link of navLinks"
          [attr.aria-label]="link.label"
          [routerLink]="link.path"
          [routerLinkActive]="'active_route'">
          {{ link.label }}
        </a>
        <button mat-icon-button
          class="search-btn"
          aria-label="Search button"
          [disabled]="isSearchOpen"
          (click)="onSearchClick()">
          <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </button>
      </div>
    </ng-container>

    <!-- Mobile View -->
    <ng-template #small>
      <!-- Logo -->
      <div class="nav-logo"
        [routerLink]="'/'">
        <img id="tcb-logo" [src]="'/assets/images/tcb-logo.svg'" />
        <img id="tcb-logo-text" [src]="'/assets/images/tcb-logo-text.svg'" />
      </div>
      <!-- Navigation Menu -->
      <button mat-icon-button
        class="menu-btn"
        aria-label="Navigation menu"
        (click)="toggleMenu()">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
    </ng-template>
  </div>
</div>

<!-- Mobile Menu Overlay -->
<div class="mobile-menu-overlay" [ngClass]="{ open: showMenu, closed: !showMenu }">
  <nav class="mobile-sidenav" (click)="$event.stopPropagation()">
    <div class="menu-logo-container">
      <div class="nav-logo"
          [routerLink]="'/'">
        <img id="tcb-logo" [src]="'/assets/images/tcb-logo.svg'" />
        <img id="tcb-logo-text" [src]="'/assets/images/tcb-logo-text.svg'" />
      </div>
      <button class="close-btn" (click)="toggleMenu()" aria-label="Close Menu">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="mobile-links">
      <a
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        (click)="toggleMenu()"
        routerLinkActive="active"
      >
        {{ link.label }}
      </a>
    </div>
  </nav>
</div>
