<section>
  <img src="assets/images/tart.jpg" class="featured-image">
  <span class="featured-text">Fresh Fruit Tart</span>
</section>
<section>
  <div class="sub-featured">
    <div class="sub-featured-title">
      <span>Fresh from the Oven</span>
      <button class="see-more" mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="sub-featured-item">
      <img src="assets/images/cheesecake.jpg">
      <span class="sub-featured-text">Cinnamon Toast Crunch Cheesecake</span>
    </div>
    <div class="sub-featured-item">
      <img src="assets/images/blueberry-cheesecake.jpg">
      <span class="sub-featured-text">Blueberry Cheesecake</span>
    </div>
    <div class="sub-featured-item">
      <img src="assets/images/baked-pear.jpg">
      <span class="sub-featured-text">Baked Pear</span>
    </div>
    <div class="sub-featured-item">
      <img src="assets/images/chocolate-raspberry-cake.jpg">
      <span class="sub-featured-text">Chocolate Raspberry Cake</span>
    </div>
    <div class="sub-featured-item">
      <img src="assets/images/pecan-pie2.jpg">
      <span class="sub-featured-text">Pecan Pie</span>
    </div>
    <div class="sub-featured-item">
      <img src="assets/images/xmas-cookies.jpg">
      <span class="sub-featured-text">Christmas Cookies</span>
    </div>
  </div>
</section>
