<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of data.columns">
          {{ column.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data.rows">
        <td *ngFor="let column of data.columns"
          [class.center]="(row[column.key] | typeof) === '[object Number]'">
          {{
            (row[column.key] | typeof) === '[object Date]'
              ? (row[column.key] | date: 'dd/MM/yyyy')
              : row[column.key]
          }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
