.about {
  &-container {
    padding-top: 16px;
    border-radius: 8px;
  }

  &-pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 32px 24px;
    gap: 72px;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      gap: 32px;

      .about-pic:first-of-type,
      .about-pic:last-of-type {
        margin: 0;
      }
    }
  }

  &-pic {
    &:first-of-type {
      margin-left: auto;
    }
    &:last-of-type {
      margin-right: auto;
    }

    @mixin about-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 50%;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      transition: all 250ms ease-in-out;
    }

    @mixin about-img--hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      cursor: pointer;
    }

    &-cake {
      background-image: url("/assets/images/cakes/wedding-cake.png");
      @include about-img;

      &:hover {
        @include about-img--hover;
      }
    }

    &-friends {
      background-image: url("/assets/images/about/friends.png");
      @include about-img;

      &:hover {
        @include about-img--hover;
      }
    }

    &-family {
      background-image: url("/assets/images/about/family.png");
      @include about-img;

      &:hover {
        @include about-img--hover;
      }
    }

    &-text {
      text-align: center;
      margin-top: 24px;
      font-style: italic;
      font-size: 1.15rem;
      color: #5c3d31;
    }
  }

  p {
    line-height: 1.875;
    letter-spacing: 0.3px;
    margin: 0;
  }

  .wave-top,
  .wave-bottom {
    width: 100%;
    height: 80px;
    overflow: hidden;
    line-height: 0;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      animation: steamSway 5s ease-in-out infinite;
    }

    svg path {
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.05));
      fill: peachpuff;
    }
  }

  .wave-top {
    transform: rotateZ(180deg);
  }

  .page-title,
  .favorite-moments-title {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: "Patua One", serif;
    color: #5c3d31;
    text-align: center;
  }

  .page-title {
    margin: 0;
    margin-top: 32px;
  }

  .favorite-moments-title {
    margin: 32px 16px 16px 16px;
  }

  .profile-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }

  .profile__img {
    background-image: url("/assets/images/about/nick-profile.png");
    background-size: 360px;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    width: 360px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    flex-shrink: 0;
  }

  .profile__text {
    width: 100%;
    margin-top: 0;
    padding: 32px 0;
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 700px) {
      width: auto;
      padding: 32px;
    }

    &__footer {
      margin: 32px 16px;
      padding: 16px;
      text-align: center;
      color: #5c3d31;
      font-weight: 500;

      p {
        margin: 0;
        font-size: 1.25rem;
      }
    }

    p {
      max-width: 600px;
      margin: auto;
      padding: 0 8px;
    }
  }

  .text-center {
    text-align: center;
    width: 100%;
    max-width: none;
  }
}
