<h1 class="page-title">Meet Nick Reinoso</h1>

<div class="about-container">
  <div class="profile-container">
    <div class="profile__img"></div>
    <div class="profile__text mt-0">
      <p>
        Hi! I’m Nick Reinoso, the baker behind The Caffeinated Baker.
        Born and raised in Texas, I grew up surrounded by delicious food and family traditions.
        My love for cooking started early,
        watching FoodTV as a kid and experimenting with dessert recipes.
      </p>
      <p>
        My mom was my first cooking teacher,
        sharing her family recipes and teaching me the basics.
        With her guidance and plenty of practice,
        I became hooked on creating sweet treats—probably because of my serious sweet tooth!
      </p>
      <p>
        Throughout high school and college, I continued to explore the world of baking and cooking,
        eventually turning it into a side gig.
        From selling cakes to friends and family to making a wedding cake for my best friend,
        baking has become more than just a hobby for me.
      </p>
    </div>
  </div>

  <div class="profile__text">
    <p>
      The Caffeinated Baker is my way of sharing the recipes and techniques that have
      brought joy and delicious moments to my loved ones.
      Whether it’s a batch of brownies or a hearty meal,
      I hope my blog will inspire you to create your own flavorful memories.
    </p>
  </div>
  <div class="about-pics">
    <div class="about-pic">
      <div class="about-pic-family"></div>
    </div>
    <div class="about-pic">
      <div class="about-pic-cake"></div>
    </div>
    <div class="about-pic">
      <div class="about-pic-friends"></div>
    </div>

  </div>

  <div class="profile__text">
    <p class="text-center">
      Thanks for stopping by and happy baking!
    </p>
  </div>
</div>
