.about {
  display: block;
  max-width: 1070px;
  margin: 0 auto;
  padding: 32px 5%;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    padding-top: 16px;
    border-radius: 8px;
  }

  &-pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 24px;
    gap: 32px;
  }

  &-pic {
    @mixin about-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 50%;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      transition: all 250ms ease-in-out;
    }

    @mixin about-img--hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      cursor: pointer;
    }

    &-cake {
      background-image: url("/assets/images/cakes/wedding-cake.png");
      @include about-img;

      &:hover {
        @include about-img--hover;
      }
    }
    &-friends {
      background-image: url("/assets/images/about/friends.png");
      @include about-img;

      &:hover {
        @include about-img--hover;
      }
    }
    &-family {
      background-image: url("/assets/images/about/family.png");
      @include about-img;

      &:hover {
        @include about-img--hover;
      }
      }
  }

  p {
    line-height: 1.875;
    letter-spacing: 0.3px;
    margin: 0;
  }

  .page-title {
    margin-top: 0;
    margin-left: 40px;;
  }

  .profile-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 32px;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .profile__img {
    background-image: url("/assets/images/about/nick-profile.png");
    background-size: 360px;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    width: 360px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    flex-shrink: 0;
  }

  .profile__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;

    &.mt-0 {
      margin-top: 0;
    }
  }

  .text-center {
    text-align: center;
  }
}
