.ez-footer {
  display: block;
  background-color: #A75D3E;
  margin: auto 0 0;
  border-top: 1px solid #f8d6c7;

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem 2rem;
    max-width: 1200px;
    margin: auto;
  }

  span {
  color: #f8d6c7;
  }

  .copyright-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 16px;
  }

  .social-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 64px;
    margin-top: 16px;

    @media (max-width: 720px) {
      gap: 24px;
    }

    #facebook {
      color: #f8d6c7;
    }

    #twitter {
      color: #f8d6c7;
    }
    #linkedin {
      color: #f8d6c7;
    }
    #instagram {
      color: #f8d6c7;
    }
    #youtube {
      color: #f8d6c7;
    }

    fa-icon, a {
      cursor: pointer;

      &:hover {
        opacity: 1;
        transition-duration: 500ms;
        transform: scale(1.1);
      }
    }
  }
}
