<div class="footer-wrapper">
  <div class="social-container">
    <a href="https://www.facebook.com/nareinoso09"
      target="_blank"
      aria-label="Facebook">
      <fa-icon id="facebook" [icon]="['fab','facebook']" size="2x"></fa-icon>
    </a>
    <a href="https://www.instagram.com/chef.reinoso/"
      target="_blank"
      aria-label="Instagram">
      <fa-icon id="instagram" [icon]="['fab','instagram']" size="2x"></fa-icon>
    </a>
    <a href="https://www.x.com/"
      target="_blank"
      aria-label="Twitter">
      <fa-icon id="twitter" [icon]="['fab','x-twitter']" size="2x"></fa-icon>
    </a>
    <a href="https://www.youtube.com"
      target="_blank"
      aria-label="Youtube">
      <fa-icon id="youtube" [icon]="['fab','youtube']" size="2x"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/nick-reinoso-00a72752/"
      target="_blank"
      aria-label="LinkedIn">
      <fa-icon id="linkedin" [icon]="['fab','linkedin']" size="2x"></fa-icon>
    </a>
  </div>
  <div class="copyright-container">
    <span><fa-icon [icon]="['far', 'copyright']"></fa-icon> 2024 The Caffeinated Baker.</span>
  </div>
</div>
