.home {
  display: block;
  max-width: 1140px;
  margin: 0 auto;

  h1 {
    margin-top: 0;
  }
}

.featured-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #fce7c8;
  position: relative;

  @media (max-width: 920px) {
    padding: 16px;
  }
  @media (max-width: 600px) {
    padding: 8px;

    width: 100%;
    max-width: 100%;
  }
}

.featured-item {
  img {
    height: 100%;
    max-height: 400px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    box-shadow: var(--box-shadow-default);
    padding: 16px;
    background-color: white;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 920px) {
      max-height: 300px;
    }
    @media (max-width: 600px) {
      max-height: 200px;
    }
  }

  span {
    background-color: white;
    box-shadow: var(--box-shadow-thick);
    border-radius: 8px;
    padding: 24px;
    width: 424px;
    max-width: 424px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

    @media (max-width: 920px) {
      top: -48px;
      left: -32px;
      text-align: center;
      width: 90%;
      display: block;
      max-width: none;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: var(--color-primary);
      text-decoration-thickness: 4px;
    }
  }
}

.greeting-wrapper {
  position: relative;
  background-color: #fce7c8;
  overflow: hidden;
  padding: 0;
}

.greeting-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 3rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Patua One", serif;
  line-height: 1.6;
  position: relative;
  z-index: 1;
  color: #5c3d31;
  border-radius: 1rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  margin: 16px 0;
}

.greeting-subtext {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: black;
  font-family: "Roboto", sans-serif;
}

.wave {
  width: 100%;
  height: 80px;
  overflow: hidden;
  line-height: 0;

  @keyframes swayWave {
    0%,
    100% {
      transform: rotate(180deg) translateY(0);
    }
    50% {
      transform: rotate(180deg) translateY(4px);
    }
  }
  animation: swayWave 6s ease-in-out infinite;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    animation: steamSway 5s ease-in-out infinite;
    background-color: #fce7c8;
  }

  svg path {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.05));
    fill: #fff8f5;
  }
}

.quick-links {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;

  @media (max-width: 1214px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }
  justify-content: center;
  gap: 20px;
  align-items: center;

  .quick-link {
    display: block;
    text-align: center;
    position: relative;
    min-width: 120px;

    &:hover {
      cursor: pointer;

      .icon-wrapper {
        transform: scale(1.1);
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .icon-wrapper {
    border-radius: 50%;
    border: 5px solid #f5f3f2;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto -30px;
    z-index: 999;
    position: relative;
    transform: 0.2s ease;


    mat-icon {
      font-family: "Material Symbols Outlined", sans-serif;
    }

    &-even {
      background-color: #ffcf7c;
      mat-icon {
        color: #bb7a0c;
      }
    }
    &-odd {
      background-color: #f4d6c1;
      mat-icon {
        color: #bb7a0c;
      }
    }
    &-prime {
      background-color: #ed8667;

      mat-icon {
        color: #a74421;
      }
    }


  }

  .icon-title-wrapper {
    position: relative;
    padding: 40px 10px 20px;
    background: white;
    box-shadow: var(--box-shadow-default);

    &:hover {
      cursor: pointer;
      box-shadow: var(--box-shadow-thick);
    }
  }

  .icon-title {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid;
    border-color: #e2a55b;
    display: block;
    width: fit-content;
    padding: 0 0 3px;
    margin: 0 auto;
    color: black;
  }
}

.sub-featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 24px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 720px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &-title {
    display: flex;
    align-items: center;
    font: 500 2rem "Patua One", serif;
    width: fit-content;
    margin: 32px 0 16px 0;
    padding: 0 24px;

    mat-icon {
      margin-left: 8px;
      width: 32px;
      height: 32px;
      font-size: 32px;
    }

    &:hover {
      cursor: pointer;
      color: var(--color-primary);
    }
  }
}

.sub-featured-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 16px;
  background-color: white;
  box-shadow: var(--box-shadow-thick);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    cursor: pointer;
  }

  img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 100%;
    height: 275px;
    object-fit: cover;
    box-shadow: var(--box-shadow-default);
    margin-bottom: 16px;
  }

  span {
    margin: 0 8px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.05rem;
    font-weight: 500;
  }
}

button.see-more {
  margin-left: 8px;
  width: 48px !important;
  height: 48px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role="img"] {
    width: 42px;
    height: 42px;
    font-size: 42px;

    svg {
      width: 42px;
      height: 42px;
    }
  }
}
