.home {
  display: block;
  max-width: 1140px;
  margin: 0 auto;
  padding: 32px 5%;

  h1 {
    margin-top: 0;
  }
}

.featured-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  gap: 16px;

  @media (max-width: 920px) {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    width: 100%;
  }

  img {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    max-height: 400px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: white;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    place-self: flex-end;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 6px 0 #2c2c2c14;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px;
    top: -36px;
    left: 24px;
    width: 424px;
    max-width: 424px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    overflow: hidden;

    @media (max-width: 920px) {
      top: -48px;
      left: -32px;
      text-align: center;
      width: 90%;
      display: block;
      max-width: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.sub-featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 720px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &-title {
    display: flex;
    align-items: center;
    font: 500 2rem 'Patua One', serif;
    width: fit-content;
    margin: 32px 0 16px 0;

    mat-icon {
      margin-left: 8px;
      width: 32px;
      height: 32px;
      font-size: 32px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.sub-featured-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 16px;
  background-color: white;
  box-shadow: 2px 2px 6px 0 #2c2c2c14;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    cursor: pointer;
  }

  img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 100%;
    height: 275px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
  }

  span {
    margin: 0 8px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.05rem;
    font-weight: 500;
  }
}

button.see-more {
  margin-left: 8px;
  width: 48px !important;
  height: 48px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role="img"] {
    width: 42px;
    height: 42px;
    font-size: 42px;

    svg {
      width: 42px;
      height: 42px;
    }
  }
}
