<section>
  <div class="featured-item">
    <img src="assets/images/tarts/tart.jpg"
      class="featured-image">
    <span>Fruit Tart with Fresh Summer Berries and Rich Vanilla Pastry Cream</span>
  </div>
</section>
<section>
  <div class="quick-links">
    <ng-container *ngFor="let link of quickLinks">
      <div class="quick-link">
        <a class="entry-image-link" [routerLink]="link.path">
          <div class="icon-wrapper">
            <mat-icon>{{ link.icon }}</mat-icon>
          </div>
          <div class="icon-title-wrapper">
            <div class="icon-title">
              <span>{{ link.name }}</span>
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</section>
<section>
  <a class="sub-featured-title">
    <span>Fresh from the Oven</span>
    <mat-icon>chevron_right</mat-icon>
  </a>
  <div class="sub-featured">
    <ng-container *ngFor="let item of featuredItems">
      <div class="sub-featured-item">
        <img [src]="item.image">
        <span class="sub-featured-text">{{ item.name }}</span>
      </div>
    </ng-container>
  </div>
</section>
