<div class="nav-wrapper" [ngClass]="{ 'small' : currentScreenSize === 'Small' }">
  <ng-container *ngIf="!(currentScreenSize === 'Small'); else small;">
    <div class="nav-logo" [routerLink]="'/home'">
      <div id="navIcon"></div>
      <div class="flex-col">
        <h1>Nick's EZ Bake</h1>
        <span>Recipes</span>
      </div>
    </div>
    <div class="nav-menu">
      <a mat-button [routerLink]="'/home'" [routerLinkActive]="'active_route'">Home</a>
    </div>
  </ng-container>
  <ng-template #small>
    <div class="nav-logo" [routerLink]="'/home'">
      <div id="navIcon"></div>
      <div class="flex-col">
        <h1>Nick's EZ Bake</h1>
        <span>Recipes</span>
      </div>
    </div>

    <button mat-icon-button class="menu-btn">
      <!-- <fa-icon [icon]="['fas', 'bars']"></fa-icon> -->
    </button>

  </ng-template>
</div>
